//====================================================================================================

.footer {
  &__top {
    display: flex;
    margin-top: rem(41);
    margin-bottom: rem(66);
    margin-right: rem(215);
    @media (max-width: em(1496)){
      margin-right: rem(0);
    }
    @include adaptiveValue("margin-left", 355, 0, 0, 1501, 727);
    @media (max-width: em(726)){
      margin-left: rem(0);
    }
    flex-wrap: wrap;
    .contacts, .information, .social {
      margin-top: rem(20);
    }
    .contacts {
      @include adaptiveValue("padding-right", 89, 15, 0, 1501, 1041);
      &-phone {
        font-weight: 500;
        font-size: rem(18);
        margin-bottom: rem(30);
      }
      &-title {
        font-weight: 500;
        font-size: rem(18);
        padding-bottom: rem(14);
      }
      &-address {
        // max-width: rem(310);
        @include adaptiveValue("width", 310, 200);
        font-size: rem(13);
        line-height: 20px;
        color: #808080;
      }
    }
    .information {
      padding-right: rem(120);
      @media (max-width: em(922)){
        padding-right: rem(30);
      }
      &__title {
        font-size: rem(18);
        font-weight: 500;
        margin-bottom: rem(21);
      }
      .menu {
        &__item {
          margin-bottom: rem(15);
          & > li {
            color: #808080;
          }
        }
      }
    }
    .social {
      &-title {
        font-weight: 500;
        font-size: rem(18);
        margin-bottom: rem(28);
      }
      &-icons {
        display: flex;
        img {
          margin-right: rem(33);
        }
      }
    }
  }
  &__bottom {
    border-top: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(23) 0 rem(87);
    @media (max-width: em(600)){
      flex-direction: column;
    }
    &-copyright {
      padding-right: rem(15);
      @media (max-width: em(600)){
        margin-bottom: rem(15);
      }
    }
    .author {
      display: flex;
      align-items: center;
      &-text {
        margin-right: rem(15);
        &__by {
          margin-bottom: rem(4);
        }
      }
    }
  }
}

//====================================================================================================
