//header
.header {
	padding: rem(29) 0 rem(23) 0;
	//настройки контейнера
	&__container {
		display: flex;
		align-items: center;
		flex: 1 1 auto;
		position: relative;
		@media (max-width:em(1200)){
			justify-content: space-between;
		}
	}
	&__logo {
		position: relative;
		z-index: 3;
		img {
			@media (max-width: em(500)){
				@include adaptiveValue("width", 150, 100);
			}
		}
	}
	//поиск .header__search
	&__search {
		@include adaptiveValue("margin-right", 63, 15, 0, $maxWidthContainer, 1200);
		@include adaptiveValue("margin-left", 105, 15, 0, $maxWidthContainer, 1200);
		@media (max-width: em(1200)){
			margin-top: rem(15);
		}
		.search-header {
			position: relative;
			border: 1px solid #D2D2D2;
			@include adaptiveValue("width", 580, 436, 0, $maxWidthContainer, 1200);
			height: rem(39);
			@media (max-width: em(1200)){
				width: 100%;
			}
			z-index: 3;
			//searh-header__button кнопка
			&__button {
				position: absolute;
				right: rem(20);
				top: 0;
				background: url('@img/search.svg') no-repeat;
				background-position: 50% 50%;
				width: rem(39);
				height: rem(39);
				display: flex;
				justify-content: center;
				align-items: center;
			}
			//search-header__input поле пошуку
			&__input {
				width: 100%;
				height: 100%;
				padding: 0 rem(59) 0 rem(20);
				display: flex;
				align-items: center;
				&::placeholder {
					position: absolute;
					top: rem(10);
					right: rem(72);
					color: #808080;
				}
			}
		}
	}
	//header__menu menu
	.menu-top {
		display: flex;
		&__body {
			@media (max-width: $mobile) {
				position: fixed;
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				top: 0;
				left: -100%;
				transition: all 0.3s ease 0s;
				overflow: auto;
				gap: rem(30);
				background-color: #fff;
				font-size: rem(16);
				// @include adaptiveValue("padding-top", 150, 120, 768, 320, 2);
				padding-top: rem(160);
				@media (max-width: em(500)){
					@include adaptiveValue("padding-top", 160, 140);
				}
				padding-left: rem(15);
				padding-right: rem(15);
				padding-bottom: rem(30);
				z-index: 2;
				&::before {
					content: "";
					position: fixed;
					top: 0;
					left: -100%;
					transition: all 0.3s ease 0s;
					width: 100%;
					@include adaptiveValue("height", 105, 72, 768, 320, 2);
					z-index: 2;
				}
				.menu-open-top & {
					left: 0;
					&::before {
						left: 0;
					}
				}
			}
		}
		//menu__list - керування контейнером елементів
		&__list {
			display: flex;
			align-items: center;
			margin: 0 rem(-15);
			@media (max-width: $mobile) {
				flex-direction: column;
				text-align: center;
				row-gap: rem(30);
			}
		}
		//menu__item - властивості елементів меню
		&__item {
			padding: 0 rem(15);
			color: #808080;
			&:not(:last-child) {
				border-right: 1px solid #D1D1D1;
			};
		}
	}
	//select класс который по коду автоматически подтягивается для выбора языков, увидеть можно в devtools
	.select {
		&__value {
			&::after {
				background: url('@img/arrow.svg') no-repeat;
				background-position: center;
			}
		}
		&__title {
			border: none;
			background-color: inherit;
		}
	}
	//блок с юзером и корзиной
	&__actions {
		@include adaptiveValue("padding-left", 100, 40, 0, $maxWidthContainer, 768);
		display: flex;
		position: relative;
		z-index: 2;
		justify-self: flex-end;
		@media (max-width:$mobile){
			position: absolute;
			right: rem(70);
		}
		.user {
			margin-right: rem(27);
			@media (max-width:$mobileSmall){
				@include adaptiveValue("margin-right", 27, 17);
			}
			background: url('@img/user.svg');
			width: rem(25);
			height: rem(26);
		}
		.cart {
			display: flex;
			&__icon {
				background: url('@img/cart.svg');
				width: rem(22);
				height: rem(26);
				margin-right: rem(12);
			}
			&-price {
				display: flex;
				align-items: center;
				&__sum {
					margin-right: rem(5);
				}
			}
		}
	}
}

//Burger
.icon-menu-top {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open-top & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
